---
- name: A2 - Webserver deployment met Ansible
  hosts: webservers
  become: yes

  vars:
    web_package: nginx
    web_service: nginx
    web_root: /var/www/html

  tasks:
    - name: Zorg dat de apt cache up-to-date is (Debian/Ubuntu)
      apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Installeer de webserver (nginx)
      apt:
        name: "{{ web_package }}"
        state: present
      when: ansible_os_family == "Debian"

    - name: Zorg dat de webroot directory bestaat
      file:
        path: "{{ web_root }}"
        state: directory
        owner: www-data
        group: www-data
        mode: "0755"

    - name: Plaats de custom index.html
      copy:
        src: files/index.html
        dest: "{{ web_root }}/index.html"
        owner: www-data
        group: www-data
        mode: "0644"

    - name: Zorg dat de webserver service actief is en automatisch start
      service:
        name: "{{ web_service }}"
        state: started
        enabled: yes
